<meta charset="UTF-8">
@ if(has(import) ? import : true){
	<script type="text/javascript" src="${ctxPath }/static/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="${ctxPath }/static/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${ctxPath }/static/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="${ctxPath }/static/js/common.js" charset="UTF-8"></script>
	<link rel="stylesheet" href="${ctxPath }/static/easyui/themes/default/easyui.css">
	<link rel="stylesheet" href="${ctxPath }/static/easyui/themes/icon.css">
@}
<!--[if lt IE 9]><script>alert('本站不支持IE9及以下');location.href='http://browsehappy.com/'</script><![endif]-->
