<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevinblandy.simple.webchat.mapper.RecordMapper">

    <insert id="create" parameterType="com.kevinblandy.simple.webchat.entity.RecordEntity">
		INSERT INTO
			`chat_record`
		<trim prefix=" (" suffix=")"  suffixOverrides=",">
			<if test="recordId != null and recordId != ''">`recordId`,</if>
			<if test="userId != null and userId != ''">`userId`,</if>
			<if test="content != null and content != ''">`content`,</if>
			<if test="createDate != null">`createDate`,</if>
			<if test="state != null">`state`,</if>
			<if test="remark != null and remark != ''">`remark`,</if>
		</trim>
		<trim prefix=" VALUES(" suffix=")"  suffixOverrides=",">
			<if test="recordId != null and recordId != ''"> #{recordId},</if>
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="content != null and content != ''">#{content},</if>
			<if test="createDate != null"> #{createDate},</if>
			<if test="state != null"> #{state},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
		</trim>
	</insert>
	
</mapper>